@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --components---green--truth-teal: #e1f0ee;
    --components---balance-blue: #b9ddff;
    --components---lifted-lemon-tint: #fdffdd;
    --components---gratitude-green: #9deab2;
    --components---present-pink: #ffb8b2;
    --components---trust-teal: #005c65;
    --components---balance-blue-tint: #e7f3ff;
    --components---present-pink-tint: #ffe7e4;
    --components---white: white;
    --components---lifted-lemon: #eaf475;
    --components---brave-black: #2a292d;
    --components---accessibility-green-dark: #005c65;
    --components---light-mint: #ebf3f5;
    --components---dark-blue--150: #becbe0;
    --components---green--bright-green--800: #47a203;
    --components---mint-green: #e1f0ee;
    --components---green--gratitude-green: #9deab2;
    --components---optimist-orange-tint: #fad9ce;
    --components---motivation-maroon: #2b0001;
    --components---balance-blue-2\<deleted\|variable-ee9bf81b-11bb-c4b2-1115-ce04fa7567c4\>: #b9ddff;
    --components---blob-1\<deleted\|variable-a2a878bd-841d-3cc2-7d01-969285b689f2\>: #689ea1;
    --components---truth-teal: #e1f0ee;
    --components---pink: #fad9ce;
    --components---form-field-border: #68768d;
    --components---small-border-radius: 4px;
    --components---form-field-placeholder: #a1acbf;
    --components---optimist-orange: #f2734a;
    --accessibility-green-dark: #005c65;
    --balance-blue: #b9ddff;
    --mint-green: #e1f0ee;
    --green--truth-teal: #e1f0ee;
    --present-pink-tint: #ffe7e4;
    --white: white;
    --lemon-lift-tint: #fdffdd;
    --lifted-lemon: #eaf475;
    --lifted-lemon-2: #eaf475;
    --brave-black: #2a292d;
    --balance-blue-tint: #e7f3ff;
    --motivation-maroon: #2b0001;
    --truth-teal: #e1f0ee;
    --gratitude-green-tint: #d7f9e1;
    --paragraph: #314d5c;
    --optimist-orange: #f2734a;
    --green--gratitude-green: #9deab2;
    --trust-teal: #005c65;
    --cta-hover: #004654;
    --dark-blue--150: #becbe0;
    --green--bright-green--800: #47a203;
    --dark-blue--300: #263159;
    --blue--95: #e1e5f0;


    /* --main-color : #004654; */
    --main-color :black;
    --main-hover-color: #314d5c;
    --second-hover-color : #e1f0ee;
    /* --second-color :  rgb(223, 69, 69); */
    --second-color: orangered;
    scroll-behavior: smooth;

    --bg-margin:150px

}

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
/* start of general style  */

.container{
    background-color: white;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.73rem;
    padding-bottom: 1rem;
}

@media (max-width:767px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

::placeholder{
    opacity: 0.8;
    font-size: 13px;
}

.header-of-every-part{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: var(--components---blob-1\<deleted\|variable-a2a878bd-841d-3cc2-7d01-969285b689f2\>);
}



.header-of-every-part{
    color: var(--main-color);
    font-size: clamp(20px,5vw,1.5rem);
    margin-bottom: 0px;
    font-weight: 400;
    animation: animate-question-text both;
    animation-timeline: view(50% 0%);
    animation-timeline: entry 0% cover 100%;
    margin-bottom: 0;
}
.paragraph-of-every-part p{
    letter-spacing: 1px;
    color: var(--main-hover-color);
    opacity: 0.7;
    animation: animate-question-text both;
    animation-timeline: view(50% 20%);
    animation-timeline: entry 30% cover 100%;
    margin-top: 0;
    width: 100%;
    
    
}

@keyframes animate-question-text{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* end of general  */

/* start of header  */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 60px;

}
.logo{
    width: 10%;
    text-align: center;
}
.logo img{
    width: 60%;
}

.header .list{
    width: 70%;

}
.header .list ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    list-style-type: none;
}
.header .list ul li a{
    text-decoration: none;
    color: var(--main-color);
    text-align: center;
    position: relative;
}

.header button{
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    padding: 0.5em 1em;
    border-radius: 5rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.header button:hover{
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

ul li a.item::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 5%;
    width: 90%;
    height: 1.5px;
    background-color: var(--main-color);
}


@media (max-width:767px){
    .header ul li:not(:last-child){
        display: none;
    }
    .header ul{
        position: relative;
    }
    .header ul li:last-of-type{
        position: absolute;
        right: 5%;
    }
}
/* end header  */

/* start of main  */
.main{
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #eee;
}
.main > div{
    width: 50%;
    height: 100%;
}
.main h1{
    margin: 0;
}

.main .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightcyan; */
    background-color: rgb(202, 250, 202);
    /* background-color: lightskyblue; */
    padding: 10px;

}

.main .information h1{
    text-align: left;
    font-size: clamp(35px,5vw,3rem);
    color: var(--main-color);
}
.main .information ul li{
    text-align: left;
    color: #3f8c93;

}


.main ul{
    list-style: none;

}
.button{
    margin-top: 4rem;
}

.main .information .button a{
    text-decoration: none;
    margin: 0rem 0.2rem;
    font-size : clamp(1.1rem,3vw,1.5rem);
    border: 2px solid var(--main-color);
    padding : 0.5rem 2rem;
    border-radius: 2rem;
    color: var(--main-color);
}

.main .information .button a:first-child{
    background-color: var(--main-color);
    color: white;

}

@media (max-width: 850px) {
    .main{
        flex-direction: column;
        height: fit-content;
    }
    .main > div{
    height: fit-content;
    width: 100%;
    
    }
    .main div.information{
        padding: 70px 20px;
    }

}





/* end of main  */

/* start of about  */
.about {
    width: 80%;
    margin: auto;
}
.about .container{
    padding-top: 7rem;
    min-height: 100vh;
}
.about .container > div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    margin-bottom: 5rem;


    
}

.about .container > div .text h1{
    color: var(--main-color);
    font-size: clamp(1rem,10vw,2rem);
}
.about .container > div .text p , .about .container > div li{
    color: var(--paragraph);
    line-height: 1.6;
}
.about .container .image{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about .container .image img{
    width: 80%;
}

.about .text{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center ;
    flex-flow: column wrap;

}



@media (max-width:700px){
    
    .about .image{
        display: none;
    }
    .about .image img{
        display: none;
    }
    .about .container > div{
        display: block;
        margin-bottom: 2rem;
    }
    .about .container .text h1{
        margin-bottom: 0px;

    }

}

@media (max-width:1100px) {
    .about{
        width: 95%;
    }


}

@keyframes motion-about {
    from{
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}



/* end of about  */

/* start of phrase  */
.phrase{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    /* msargin-bottom: 3rem; */
    color: var(--main-color);
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.5    ;
}

/* end of phrase  */


/* start of subsciption  */

.subscription .paragraph-of-every-part{
    text-align: center;
    transform: translateY(-20px);
}
.card-container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}   

.card-subs{
    background-color: var(--brave-black);
    padding: 10px 20px 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.card-subs:first-of-type{
    animation: motion1;
    animation-direction: both;
    animation-timeline: view(50% 0%);
    animation-range: entry 0% contain 100%;
}

.card-subs:last-of-type{
    animation: motion2;
    animation-direction: both;
    animation-timeline: view(50% 0%);
    animation-range: entry 0% contain 100%;
}

.card-subs:nth-child(2){
    animation: motion3;
    animation-direction: both;
    animation-timeline: view(50% 0%);
    animation-range: entry 0% contain 100%;
}


.card-subs .list ul li {
    width: fit-content;
    text-align: center;
    padding-left: 1px;
    line-height: 1.5;
    font-size: 15px;
    text-align: left;
    
}
.card-container .button-subscription{
    border: 2px solid var(--second-color);
    border-radius: 1rem;
    padding: 0.8rem 3rem;
    margin-top: 1rem;
    font-weight: bold;
    transition: 0.3s ease all;
    cursor: pointer;
}

.card-container .button-subscription:hover{
    /* background-color: rgb(223, 69, 69); */
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.card-container .list{
    width: 100%;
    padding-left: 10px;
}

.card-container .price{
    margin-top: 10px;
    margin-bottom: 15px;

}
.card-container h2{margin:0;}
.price h2{
    font-size: 25px;
}
.price h2 sub{
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
}

.price h3{
    color: var(--second-color);
}

@keyframes motion1 {
    from{
        transform:translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes motion2 {
    from{
        transform:translateX(+200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes motion3 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width:700px){
    .subscription .header-of-every-part
    {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 3vw;
    }
    .subscription .paragraph-of-every-part{
        padding-left: 1rem;
        padding-right:1rem;
    }

}

/* end of subscription  */

/* start of team part  */





/* end of team part  */




/* start of contact us part  */
.contact-container{
    margin-top: 150px;
    width: 100%;
    height: fit-content;
    width: 100%;

    padding: 0px 5% 5% 5%;
    /* background-image: linear-gradient(90deg , #0e3959 0% , #0e3959 30% , #03a9f5 30% , #03a9f5 100%); */
}

#contact .header-of-every-part{
    text-align: left;
    padding-left: 40px;
}
#contact .paragraph-of-every-part{
    text-align: left;
    transform: translateY(-20px);
    padding-left: 40px;
}
.contact-container .title h2{
    color: var(--main-color);
    font-weight: bold;

}
.form {
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.box{
    position:relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
        "form info" "form map";
    gap: 20px;
    margin-top: 20px;
}
.contact{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);

}
.contact h3{
    color: var(--main-color) ;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 25px;
    margin-top: 10px;
}


/* form  */
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom : 10px;
    width: 50%;
}
.row100 .inputBox{
    width: 100%;
}
 .inputBox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom : 5px ;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1..1em;
    outline: none;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1..1em;
    outline: none;
    resize: none;  
    border: 1px solid #333;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type='submit']{
    background-color: #ff578b;
    color: #fff;
    border: none;
    cursor: pointer; 
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    padding: 14px 15px;
}

/* info  */
.info{
    background-color: var(--main-color);
}

.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    margin-bottom:10px ;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 50px;
}
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a{
    text-decoration: none;
    color: #fff;
}

.sci{
    margin-top: 40px;
    display: flex;
    width: 100%;

}
.sci li{
    list-style: none;
    margin-right: 20px;
}

.sci li a{
    color: #ccc;
    font-size: 2em;
    transition: 0.3s all ease;
}
.sci li a {
    color: white;

}

/* map  */

.map{
    padding: 0;
}
.map iframe{
    height: 100%;
    width: 100%;
}


/* responsive design  */

@media (max-width:650px){
    .contact-container{
        background-color: #c8eeff;
        background-image: none;
        height: fit-content;
        padding-top: 1em;
        padding-bottom: 3em;
        
    }
    .box{
    position:relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    grid-template-areas: 
        "form"  "info" "map";
    gap: 20px;
    margin-top: 20px;
}
.contact.map iframe{
    width: 100%;
    height: 400px;
}
}

@media (max-width:900px) {
    .formBox .row50{
        flex-direction: column;
        width: 100%;
        
    }
    .formBox .row50 .inputBox{
        width: 100%;
    }
    .formBox .row50 input{
        width: 100%;
    }
    .inputBox textarea{
        min-height: 120px;
    }

}

/* end of contact us part  */


/* start of events  */

div.events{
    height: 100vh;
    margin-top: 130px;
    padding-top: 10px;
}














/* end of events  */



/* question part  */

#question{
    height: fit-content;
    width: 100%;
    /* background-color: #d9f4f1; */
    margin-top: 120px;
}

#question .question-container{
    width: 100%;
    display: flex;
    flex-flow: wrap row;
}

#question .question-container .card-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 90vh;
}

#question .question-container .card-one .text h2{
    color: var(--main-color);
    font-size: clamp(20px,5vw,2.5em);
    margin-bottom: 0px;
    font-weight: 400;
    animation: animate-question-text both;
    animation-timeline: view(50% 0%);
    animation-timeline: entry 0% cover 100%;
    
}
#question .question-container .card-one .text p{
    letter-spacing: 1px;
    color: var(--main-hover-color);
    opacity: 0.7;
    transform: translateY(-7px);

    animation: animate-question-text both;
    animation-timeline: view(50% 20%);
    animation-timeline: entry 30% cover 100%;
}

@keyframes animate-question-text{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#question .question-container .card-one .text h2 span{
    font-weight: 800;
    letter-spacing: 2px;
}


#question .question-container .card-one .image img{
    width: 100%;
    object-fit: cover;
}


/* card two  */
#question .question-container .card-two{
    height: 100%;
    width: 50%;
    padding: 150px 20px 20px 70px;
}

#question .question-container .card-two .question-part .text{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    padding-right: 1em;
    margin: 0;
}
#question .question-container .card-two .question-part .text label{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    margin: 0;
}

#question .question-container .card-two .question-part input[type='checkbox']{
    display: none;
    opacity: 0;

}


/* hidden part style  */
#question .question-container .card-two .question-part .hidden-part{
    display: none;
}

#question .question-container .card-two .question-part input[type='checkbox']:checked + .hidden-part{
    display: initial;
}

#question .question-container .card-two .question-part .hidden-part{
    padding: 0px 10px;
}

#question .question-container .card-two .question-part .hidden-part p{
    color: #888;
    line-height: 1.5;
    margin: 0;
}

#question .question-container .card-two hr{
    border-color: #004654;
    opacity: 0.5;
} 



@media (max-width:767px){
    #question .question-container{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    }
    #question .question-container .card-one
    {
        width: 100%;
        padding : auto 40px;
    }
    #question .question-container .card-two{
        width: 100%;
        padding : unset;
        padding-top: 40px;
    }
}
@media (min-width: 680px) and (max-width:767px) {
    #question .question-container .card-two{
        padding-top: 100px;
    }
}



/* start of timeline  */

.timeline-part .paragraph-of-every-part{
    text-align: left;
    transform: translateY(-20px);
    padding-left: calc(5% + 40px);
}
.timeline-part .header-of-every-part{
    text-align: left;
    padding-left: calc(5% + 40px);
}

.timeline-part{
    margin-top: var(--bg-margin );
}

.timeline{
    position: relative;
    margin: calc(var(--bg-margin ) - 40px) auto var(--bg-margin) auto;
    max-width: 85%;
    padding: 5px 20px ;
    background: #fff;

}
.timeline::before, .timeline::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #555;
    color: #fff;
    z-index: 5;
    
}

.timeline::before{
    content: "Start";
    top: 0px;
}

.timeline::after{
    content: "End";
    bottom: 0px;
}
.timeline .timeline-blocks{
    margin: 65px 0px;
}
.timeline .timeline-blocks::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2px;
    height: 100%;
    border-left: 2px dotted #555;
}

.timeline .timeline-blocks .block{
    position: relative;
    width: calc(50% - 20px);
    margin: 20px 0px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
    

    /* animation scroll  */

    animation: scroll both;
    animation-timeline: view(50% 0%);
    animation-range: entry 0% cover 70%;
}

.timeline .timeline-blocks .block:nth-child(even){
    left: calc(50% + 20px);
}

.timeline .timeline-blocks .block:before{
    content: '';
    position: absolute;
    top: 0px;
    right: -30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #111;
}

.timeline .timeline-blocks .block:nth-child(even)::before{
    left: -30px;
}

.timeline .timeline-blocks .block .header{
    padding: 10px;
    background-color: black;
    color: #eee;
}

.timeline .timeline-blocks .block .header h2{
    font-size: 20px;
    color: ;
    margin-bottom: 2px;
}

.timeline .timeline-blocks .block .header > p{
    position: absolute;
    font-size: 14px;
    color: #111;
    font-weight: 600;
    font-style: italic;
    background-color: #f5f5f5;
    border : 1px solid #eee;
    padding: 2px 10px;
    border-radius: 10px;

}
.timeline .timeline-blocks .block:nth-child(odd) .header > p {
    right: -125px;
    top: 0px;
}

.timeline .timeline-blocks .block:nth-child(even) .header > p{
    left: -125px;
    top: 0px;
}

.timeline .timeline-blocks .block > p{
    padding: 10px;
    font-size: 16px;
    color: #444;
}

.timeline .timeline-blocks .block:nth-child(1) .header ,
.timeline .timeline-blocks .block:nth-child(1)::before{
    background-color: #328cdd;
}  
.timeline .timeline-blocks .block:nth-child(1) .header p{
    color: #328cdd;
}

.timeline .timeline-blocks .block:nth-child(2) .header ,
.timeline .timeline-blocks .block:nth-child(2)::before{
    background-color: #5d70d7;
}  
.timeline .timeline-blocks .block:nth-child(2) .header p{
    color: #5d70d7;
}


.timeline .timeline-blocks .block:nth-child(3) .header ,
.timeline .timeline-blocks .block:nth-child(3)::before{
    background-color: #b93fcd;
}  
.timeline .timeline-blocks .block:nth-child(3) .header p{
    color: #b93fcd;
}


.timeline .timeline-blocks .block:nth-child(4) .header ,
.timeline .timeline-blocks .block:nth-child(4)::before{
    background-color: #8550d5;
}  
.timeline .timeline-blocks .block:nth-child(4) .header p{
    color: #8550d5;
}


.timeline .timeline-blocks .block:nth-child(5) .header ,
.timeline .timeline-blocks .block:nth-child(5)::before{
    background-color: #2bb8f1;
}  
.timeline .timeline-blocks .block:nth-child(5) .header p{
    color: #2bb8f1;
}

@media (max-width:678px){
    .timeline::before ,
    .timeline::after {
        left: 20px;
        transform: translateX(-2px);
    }

    .timeline .timeline-blocks{
        padding-left: 20px;

    }
    .timeline .timeline-blocks::before{
        left: 20px;
    }
    .timeline .timeline-blocks .block{
        width: 100%;
    }
    .timeline .timeline-blocks .block::before{
        left: -30px;
    }
    .timeline .timeline-blocks .block:nth-child(even){
        left: 0;
    }
    .timeline .timeline-blocks .block .header h2{
        margin: 5px 0 0 0 ;
    }
    .timeline .timeline-blocks .block .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        height: fit-content;
    }
     .timeline .timeline-blocks .block .header p{
        position: static;
        background-color: transparent;
        border: none;
        color: #eee !important;
        padding: 0px;
        margin-top: 5px;
        left: 0px;
        margin-bottom: 0;
        font-size: 13px;
        margin-top: 5px;
        font-weight: 400;
        padding-left: 3px;

     }
}

@keyframes scroll{
    from{
        opacity: 0;
        scale: 0;
        
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


/* end of timeline part  */



/* start of footer  */


footer{
    width: 100%;
    background-color: var(--brave-black);
    height: fit-content;
    margin-top: var(--bg-margin);
}

.container-footer{
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto auto;
    gap: 30px;  
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

 .container-footer .card-foot h2{
    text-align: center;
    color: #eee;
}
.container-footer .card-foot p{
    color: #eee;
    font-size: 15px;
    text-align: left;
    padding-left: 25%;
    margin: 5px 0px 0 0;
    font-weight: 300;

}

.container-footer .card-foot:nth-child(2) ul{
    list-style-type: none;
    margin: 0;
}
.container-footer .card-foot:nth-child(2) ul li{
    color: #eee;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    transform: translate(-17px,0);
}
.container-footer .card-foot:nth-child(2) ul li a{
    width: 100%;
    color: #eee;
    text-decoration: none;
    font-weight: 300;
}
.container-footer .card-foot:nth-child(2) ul li a:hover{
    color: white;
}


.container-footer .card-foot{
    height: fit-content;
    padding: 20px;
}

.card-foot:nth-child(3) .icon{
    padding: 0;
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.card-foot:nth-child(3) ul li{
    margin-right: 10px;
}
.card-foot:nth-child(3) ul li a ion-icon{
    font-size: 20px;
    color: #eee;
    
}

.card-foot:nth-child(3) ul li a ion-icon:hover{
    color: white;
}



.last-part{
    background-color: red;
    width: 100%;
    height: fit-content;
    background-color: orangered;
    color: #eee;
    text-align: center;
    font-size: 20x;
    padding: 20px;
    font-weight: bold;
}
/* end of footer  */



